<p>
  Product-form works!
</p>
<h1 mat-dialog-title>{{action}} product</h1>

<div mat-dialog-content>
  <form [formGroup]='prodForm'>

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Name*" formControlName='Product Name' [(ngModel)]="product.productName">
    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Description*" formControlName='ProductDescription'
        [(ngModel)]="product.ProductDescription">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="Stock*" formControlName='QuantityStock'
        [(ngModel)]="product.QuantityStock">
    </mat-form-field>

    <div *ngIf="action == 'Add'">
      <mat-form-field class="full-width">
        <input matInput type="date" placeholder="Start Date*" formControlName='ProductRateId'
          [(ngModel)]="product.ProductRateId">
      </mat-form-field>


    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)='cancelClick()'>Cancel</button>
  <button mat-button (click)='submitForm()' [disabled]='!prodForm.valid'>{{action}}</button>
</div>